
TruVideoCameraAndroidBinding/bin
TruVideoCameraAndroidBinding/obj
#TruVideoCameraAndroid/TruvideoCore/bin
#TruVideoCameraAndroid/TruvideoCore/.gradle/
#TruVideoCameraAndroid/TruvideoCore/build/
#TruVideoCameraAndroid/TruvideoCore/.idea/
#TruVideoCameraAndroid/TruvideoCore/.iml
#TruVideoCameraAndroid/TruvideoCore/local.properties
